html
  head
    link(rel='stylesheet' href='public/style/job.css')
    meta(http-equiv='refresh' content='1')
    title="BARK DEMO"
  body
    div
      table#header
        tbody
          tr
            td#available
              p <strong><u>Available</u></strong>
            td#masters
              p <strong><u>Masters</u></strong>
            td
              p <strong><u>Workers</u></strong>
      table#inline
        tbody
          each val in hosts
            tr
              td
                svg
                  rect(width='100%' height='100%' fill='#ffff66')
                  text(x="10%" y="12%" alignment-baseline="middle" text-anchor="middle")
                    | id: #{val.hid}
                    tspan(x="50%" y="50%" alignment-baseline="middle" text-anchor="middle")
                      | #{val.ip}
      table#inline
        tbody
          each val in masters
            tr
              td
                svg
                  rect(width='100%' height='100%' fill='#{val.color}')
                  text(x="10%" y="12%" alignment-baseline="middle" text-anchor="middle")
                    | id: #{val.hid}
                    tspan(x="50%" y="50%" alignment-baseline="middle" text-anchor="middle")
                      | #{val.ip}

      table#inline
        tbody
          each val in workers
            tr
              td
                svg
                  rect(width='100%' height='100%' fill='#{val.color}')
                  text(x="10%" y="12%" alignment-baseline="middle" text-anchor="middle")
                    | id: #{val.hid}
                    tspan(x="50%" y="50%" alignment-baseline="middle" text-anchor="middle")
                      | #{val.ip}

